* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --red: rgb(197,1,1);
}
body {
    background-image: url(../img/backgroundpizzaplanet.png);
    background-size: contain;
    background-repeat: repeat-y;
    font-family: Impact;
}

.logo-navbar{
    height: 3em;
}
.top-bar {
    background-color: rgb(197,1,1) !important;
}
.navbar-font{
    font-family: Impact;
    color: white;
    font-size: x-large;
}

/*FIRST PAGE */

.slider {
    width: 75vw;
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    overflow: hidden;
}
.slider, .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}
.slider, .slide {
    width: 200px;
}

.slider, .slide-track img {
    width: 100%;
}

@keyframes scroll {
    0% {    
        transform: translateX(0);
    }
    100% {
        transform: translateX(cal(-200px * 7));
    }
}

.card{
    border: rgb(197,1,1) 0.5em solid;
    height: 20em;
    width: 20em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 1em;
}
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    background-color: rgb(197,1,1);
    border-radius: 2em;
    color: white;
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
}

/*CARTA*/

.title {
    background-color: var(--red);
    border-radius: 0.5em;
    color: white;
    height: 2em;
    font-size: 2em;
    margin-top: 2em;
}

.plato {
    border: rgb(197,1,1) 0.5em solid;
    height: 30em;
    width: 20em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 1em; 
}
.card-images {
    height: 19em;
    width: 19em;
}

/*FORMULARIO*/

.formulario {
    border: 0.5em solid var(--red);
    margin-top: 18em;
    padding: 5em;
    margin-bottom: 20em;
}

/*CREW*/
.crewcardtop {
    border: rgb(197,1,1) 0.5em solid;
    height: 20em;
    width: 70em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 10em;
}

.crewcard {
    border: rgb(197,1,1) 0.5em solid;
    height: 20em;
    width: 70em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 2em;
}

.alienbb {
    height: 17em;
    width: 17em;
    margin-top: 1em;
    margin-left: 1em;
}

.alert2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    background-color: rgb(197,1,1);
    border-radius: 2em;
    color: white;
    font-size: 3em;
    margin-top: 3em;
    padding: 1em;
}

