* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --red: rgb(197,1,1);
}
body {
    background-image: url(../img/backgroundpizzaplanet.png);
    background-size: contain;
    background-repeat: repeat-y;
    font-family: Impact;
}

.logo-navbar{
    height: 3em;
}
.top-bar {
    background-color: rgb(197,1,1) !important;
}
.navbar-font{
    font-family: Impact;
    color: white;
    font-size: x-large;
}

/*FIRST PAGE */

.slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 3em;
}
.slider .slide-track {
    display: flex;
    animation: scroll 50s linear infinite;
    -webkit-animation: scroll 50s linear infinite;
    width: calc(200px * 14);
}
.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {    
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.card{
    border: rgb(197,1,1) 0.5em solid;
    height: 20em;
    width: 20em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 1em;
}
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    background-color: rgb(197,1,1);
    border-radius: 2em;
    color: white;
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
}

/*CARTA*/

.title {
    background-color: var(--red);
    border-radius: 0.5em;
    color: white;
    height: 2em;
    font-size: 2em;
    margin-top: 2em;
}

.plato {
    border: rgb(197,1,1) 0.5em solid;
    height: 30em;
    width: 20em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 1em; 
}
.card-images {
    height: 19em;
    width: 19em;
}

/*FORMULARIO*/

.formulario {

    border: 0.5em solid var(--red);
    margin-top: 11em;
    padding: 5em;
    margin-bottom: 20em;
}

